# Files too big
*.tar
*.zst
*.assets/*.mp4
datasets/*
checkpoints/*


# logs
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints


# IPython
profile_default/
ipython_config.py


# pyenv
.python-version


# Others
*.vscode
*.DS_Store
